site_name: ME/CFS Biostatistics Home
site_url: https://sitename.example
theme:
  name: material
  features:
    - navigation.indexes


plugins:
- search
- mkdocstrings:
   handlers:
      python:
        inventories:
          - https://docs.python.org/3/objects.inv
        options:
          paths: [.]
          docstring_section_style: list # or "table"
          docstring_style: "numpy"
          filters: [ "!^_" ]
          heading_level: 1
          merge_init_into_class: true
          parameter_headings: true
          separate_signature: true
          show_root_heading: true
          show_signature_annotations: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          summary: true
- api-autonav:
    modules: ['src_new']
    exclude: ['src_new.assets','src_new.analysis','src_new.util']

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js