name: on_pr

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
    paths-ignore:
    - 'docs/**' # Ignores changes within the 'docs' directory
    - '**/*.md'  # Ignores changes to any markdown files
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**' # Ignores changes within the 'docs' directory
      - '**/*.md'  # Ignores changes to any markdown files
jobs:
  run-linters:
    timeout-minutes: 5
    name: Run PR Checks
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.2
        name: Setup Pixi Environment
        with:
          pixi-version: v0.55.0
          cache: true
      - name: Check formatting with ruff
        run: pixi r invoke formatcheck
      - name: Lint using ruff
        run: pixi r  invoke lintcheck
      - name: Check types with mypy
        run: pixi r  invoke typecheck
      - name: Run tests
        run: pixi r  invoke test # run unit and integration tests
